<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ch.srg.mediaplayer">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Nagra -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application/>
</manifest>
